/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* outline: 1px solid wheat; */
}

:root{
    --darkBlue-1  : hsl(218, 28%, 13%);
    --darkBlue-2  : hsl(216, 53%, 9%);
    --darkBlue-3  : hsl(219, 30%, 18%);
    --darkBlue-4  : hsl(217, 28%, 15%);
    --accent-cyan : hsl(176, 68%, 64%);
    --acent-blue  : hsl(198, 60%, 50%);
    --acent-light : hsl(0, 100%, 63%);
    --fontsize-Body: 14px;
}